# ==========================================
# App
# ==========================================
NODE_ENV=development
PORT=3031
FRONTEND_URL=http://localhost:4200
COOKIE_DOMAIN=localhost

# ==========================================
# Initial Admin User
# ==========================================
INIT_ADMIN_EMAIL=admin@example.com
INIT_ADMIN_PASSWORD=admin123456


# ==========================================
# JWT
# ==========================================
JWT_SECRET=change_me_super_secret_key_for_ecommerce_api
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=7d

# ==========================================
# PostgreSQL
# ==========================================
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=ecommerce_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DATABASE=ecommerce-db

DATABASE_URL=postgresql://ecommerce_user:ecommerce_password@localhost:5434/ecommerce-db?schema=public

# ==========================================
# MinIO
# ==========================================
MINIO_ROOT_USER=ecommerce_minio_user
MINIO_ROOT_PASSWORD=ecommerce_minio_password
MINIO_PORT=9002
MINIO_CONSOLE_PORT=9003
MINIO_REGION=us-east-1
MINIO_ENDPOINT=http://localhost:9002

# Main public bucket for product images
MINIO_BUCKET_NAME=product-images

# Optional aliases if storage service uses S3-style names
S3_ENDPOINT=http://localhost:9002
S3_INTERNAL_ENDPOINT=http://ecommerce-minio:9000
S3_ACCESS_KEY=ecommerce_minio_user
S3_SECRET_KEY=ecommerce_minio_password
S3_BUCKET=product-images
S3_REGION=us-east-1
S3_FORCE_PATH_STYLE=true
